{% extends "base.html" %}

{% block title %}{{ article.title }} - {% endblock title %}
{% block meta_descripton %}{{ article.abstract|striptags }}{% endblock meta_descripton %}

{% block content %}
<article class="post-page article-page">
    <div class="meta">{{ article.journal }} &bullet; {{ article.pub_date|date:'F \d\e Y' }}</div>
    <h1 class="post-title">{{ article.title }}</h1>
    {% if article.authors %}
    <div class="authors">
        {{ article.authors|safe }}
    </div>
    {% endif %}
    <div class="abstract">
        {{ article.abstract|safe }}
    </div>
    {% if article.body %}
    <div class="body">
        {{ article.body|safe }}
    </div>
    {% endif %}
    {% if article.link %}
        <p class="read-more"><a href="{{ article.link }}" target="_blank">Ler este artigo na íntegra &rarr;</a></p>
    {% endif %}
    {% if article.pdf_file %}
        <p class="read-more"><a href="{{ article.pdf_file.url }}" target="_blank">Download do PDF do artigo</a></p>
    {% endif %}
</article>

<div class="comments" id="comments">
    <div id="disqus_thread"></div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
    var disqus_shortname = 'letciastallone'; // required: replace example with your forum shortname
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock extra_js %}
