<section class="publications">
    <header>
        <h3 class="title">Publicações</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="eight columns alpha">
                {% if articles.0 %}
                 <article class="publication-item">
                    <header>
                        <h4 class="hat">{{ articles.0.journal }} &bullet; {{ articles.0.pub_date|date:'F \d\e Y' }}</h4>
                        <h2 class="publication-title"><a href="{% url 'article-detail' articles.0.slug %}">{{ articles.0.title }}</a></h2>
                    </header>
                    <p class="read-more"><a href="{% url 'article-detail' articles.0.slug %}">Ler este artigo &rarr;</a></p>
                </article>
                {% endif %}
            </div>
            <div class="eight columns omega">
                {% if articles.1 %}
                 <article class="publication-item">
                    <header>
                        <h4 class="hat">{{ articles.1.journal }} &bullet; {{ articles.1.pub_date|date:'F \d\e Y' }}</h4>
                        <h2 class="publication-title"><a href="{% url 'article-detail' articles.1.slug %}">{{ articles.1.title }}</a></h2>
                    </header>
                    <p class="read-more"><a href="{% url 'article-detail' articles.1.slug %}">Ler este artigo &rarr;</a></p>
                </article>
                {% endif %}
            </div>
        </div>
    </div>
</section>
