<section class="publications">
    <header>
        <h3 class="title">Publicações</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="eight columns alpha">
                 <article class="publication-item">
                    <header>
                        <h4 class="hat">{{ articles.0.journal }}</h4>
                        <h2 class="publication-title"><a href="#">{{ articles.0.title }}</a></h2>
                    </header>
                    <p class="read-more"><a href="#">Ler este artigo &rarr;</a></p>
                </article>
            </div>
            <div class="eight columns omega">
                 <article class="publication-item">
                    <header>
                        <h4 class="hat">{{ articles.1.journal }}</h4>
                        <h2 class="publication-title"><a href="#">{{ articles.1.title }}</a></h2>
                    </header>
                    <p class="read-more"><a href="#">Ler este artigo &rarr;</a></p>
                </article>
            </div>
        </div>
    </div>
</section>
