@import "clearfix";
@import "fonts";
@import "compass/css3";

$font: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_bold: "ProximaNovaBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_light: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Times, Georgia, TimesNewRoman, serif;
$link_color: #547980;
$link_hover: #75ad78;
$border_color: #dbdbdb;
$title_color: #594f4f;

body {
    background: #fff;
    font-family: $font;
    font-size: 16px;
}

a {
    color: $link_color;
    text-decoration: none;
    @include transition(color .3s ease-in-out);
    &:hover {
        color: $link_hover;
    }
}

.masthead {
    margin: 20px 0 0;
    padding: 20px 0;
    border-bottom: 6px solid $link_color;

    .title {
        font-family: $font_bold;
        font-weight: normal;
        letter-spacing: -2px;
        color: $title_color;
    }

    small {
        display: inline-block;
        margin-left: 2px;
        font-family: $font_light;
        font-size: 28px;
        font-weight: normal;
        line-height: 34px;
        color: #999;
    }
}

.main-menu {
    margin: 24px 0 0;
    font-size: 16px;
    text-align: right;

    a {
        position: relative;
        display: inline-block;
        height: 20px;
        padding: 0 12px;
        text-decoration: none;
        color: $link_color;

        &:after {
            position: absolute;
            top: -3px;
            left: -4px;
            content: '.';
            font-family: $font_bold;
            color: #dbdbdb;
        }

        &:hover {
            color: $link_hover;
        }

        &:first-child {
            &:after {
                content: ' ';
            }
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
}

.aside-box {
    padding: 20px;
}

.aside-about {
    background-color: $link_color;
    color: #fff;
    color: rgba(#fff, .70);
    font-family: $serif;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: -1px;

    figure {
        float: left;
        overflow: hidden;
        margin: 0 0 20px 0;
        width: 100%;
        text-align: center;
        img {
            @include border-radius(50%);
        }
    }

    p {
        margin: 0;
        text-align: center;
    }
}

.post-item {
    padding: 20px;
    .hat {
        font-family: $font_light;
        font-size: 12px;
        text-transform: uppercase;
        color: #535353;
    }
    .post-title {
        margin: 0 0 20px 0;
        font-family: $font_bold;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 36px;
        color: $title_color;
    }
    article {
        margin-bottom: 40px;
        border-bottom: 1px dashed $border_color;
        &:last-child {
            border-bottom: none;
        }
        p {
            line-height: 24px;
        }
    }
    .read-more {
        text-align: right;
    }
    .post-title, .post-abstract {
        a {
            color: #333;
            &:hover {
                color: #000;
            }
        }
    }
}

.six {
    .post-item {
        padding-top: 0;
        .post-title {
            font-size: 26px;
            line-height: 30px;
        }
    }
}

footer {
    min-height: 200px;
    background: #333;
    color: #f7f7f7;
}
