@import "clearfix";
@import "fonts";
@import "compass/css3";

$font: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_bold: "ProximaNovaBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_light: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Times, Georgia, TimesNewRoman, serif;
$link_color: #ecdead;
$border_color: #dbdbdb;

body {
    background: #fff;
    font-family: $font;
    font-size: 16px;
}

.masthead {
    margin: 20px 0 0;
    padding: 20px 0;
    border-bottom: 6px solid #000;

    .title {
        font-family: $font_bold;
        font-weight: bold;
        letter-spacing: -1px;
    }

    small {
        display: inline-block;
        margin-left: 6px;
        font-family: $font_light;
        font-size: 28px;
        font-weight: normal;
        line-height: 34px;
        color: #999;
    }
}

.main-menu {
    margin: 24px 0 0;
    font-size: 16px;
    text-align: right;

    a {
        position: relative;
        display: inline-block;
        height: 20px;
        padding: 0 12px;
        text-decoration: none;
        color: $link_color;

        &:after {
            position: absolute;
            top: -3px;
            left: -4px;
            content: '.';
            font-family: $font_bold;
            color: #dbdbdb;
        }

        &:hover {
            color: darken($link_color, 8);
        }

        &:first-child {
            &:after {
                content: ' ';
            }
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
}

.aside-about {
    background-color: $link_color;
    color: #fff;
    color: rgba(#fff, .70);
    font-family: $serif;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: -1px;
    @include border-bottom-radius(5px);

    figure {
        float: left;
        overflow: hidden;
        margin: 0 0 20px 0;
        width: 100%;
        text-align: center;
        img {
            @include border-radius(50%);
        }
    }

    p {
        margin: 0;
        text-align: center;
    }

    .box-container {
        padding: 40px;
        border-top: none;
    }
}

.box-blog {
    padding: 40px;
    .hat {
        font-family: $font_light;
        font-size: 12px;
        text-transform: uppercase;
        color: #535353;
    }
    .post-title {
        margin: 0 0 20px 0;
        font-family: $font_bold;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 40px;
    }
    article {
        margin-bottom: 40px;
        border-bottom: 1px dashed $border_color;
        &:last-child {
            border-bottom: none;
        }
        p {
            line-height: 24px;
        }
    }
}

footer {
    min-height: 200px;
    background: #000;
    color: #f7f7f7;
}
