# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~
*.sublime-project
*.sublime-workspace

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Coverage
.coverage
htmlcov

# Grunt, sass etc.
node_modules
.sass-cache
_SpecRunner.html
.grunt
