{% load show_menu %}
{% load render_partial %}
{% load show_publications %}
{% load show_highlighted_links %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>LeticiaStallone.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/layout.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/leticia.css">
    {% endblock css %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <section id="masthead" class="masthead sixtten columns">
            <div class="box">
                <header class="eight columns alpha">
                    <h1 class="title"><a href="{% url 'home' %}">Letícia Stallone<small>.com</small></a></h1>
                </header>
                <div class="eight columns omega">
                    {% show_menu %}
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="main-content sixteen columns" id="main-content">
            <div class="row">
                <div class="four columns alpha">
                    <aside class="aside-about aside-box">
                        <figure>
                            <img src="https://si0.twimg.com/profile_images/1096147769/me_bigger.jpg">
                        </figure>
                        {% render_partial 'about-aside' %}
                    </aside>
                    <aside class="aside-links">
                        <div class="aside-box">
                            <ul>
                                {% show_highlighted_links %}
                            </ul>
                        </div>
                    </aside>
                </div>
                <section class="twelve columns omega">
                    {% block content %}{% endblock content %}
                </section>
            </div>
        </div>
    </div>

    {% show_publications %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="sixteen columns">
                    <div class="box">
                        {% render_partial 'contact-footer' %}
                        <p class="credits">crafted with &hearts; by <a href="http://www.daviferreira.com" target="_blank">davi ferreira</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block js %}
    <script src="{{ STATIC_URL }}javascripts/leticia.js"></script>
        {% block analytics %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41773831-1', 'leticiastallone.com');
          ga('send', 'pageview');
        </script>
        {% endblock analytics %}
    {% endblock js %}

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
