{% load show_menu %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>LeticiaStallone.com</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/layout.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/leticia.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <section id="masthead" class="masthead sixtten columns">
            <div class="box">
                <header class="eight columns alpha">
                    <h1 class="title"><a href="{% url 'home' %}">Letícia Stallone<small>.com</small></a></h1>
                </header>
                <div class="eight columns omega">
                    {% show_menu %}
                </div>
            </div>
        </section>
    </div>

    {% block content %}{% endblock content %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="sixteen columns">
                    <div class="box">
                        <h4 class="title">Entre em contato</h4>
                        <ul>
                            <li><a href="#">@leticiastallone</a></li>
                            <li><a href="#">leticiastallone@yahoo.com</a></li>
                        </ul>
                        <p class="credits">crafted with &hearts; by <a href="http://www.daviferreira.com" target="_blank">davi ferreira</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ STATIC_URL }}javascripts/leticia.js"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
