{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="main-content sixteen columns" id="main-content">
        <div class="row">
            <div class="four columns alpha">
                <aside class="aside-about aside-box">
                    <figure>
                        <img src="https://si0.twimg.com/profile_images/1096147769/me_bigger.jpg">
                    </figure>
                    <p>Skeleton has a familiar, lightweight 960 grid as its base, but elegantly scales down to downsized browser windows, tablets, mobile phones (in landscape and portrait). Go ahead, resize this page!</p>
                </aside>
                <aside class="aside-links">
                    <div class="aside-box">
                        <ul>
                            <li><a href="#">Curriculum Lattes</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <section class="twelve columns omega">
                <article class="post-item">
                    <header>
                        <h4 class="hat">Linguistica, humor</h4>
                        <h2 class="post-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
                    </header>
                    <p class="post-abstract"><a href="#">Neste artigo, propomos contribuir para os estudos do humor conversacional em
                    encontros informais, numa perspectiva interacional. Mostramos a co-construção do humor,
                    entre amigos, com base no enquadre da brincadeira (Bateson, 1972)</a></p>
                    <p class="read-more"><a href="#">Leia mais &hellip;</a></p>
                </article>
                <div class="six columns alpha">
                    <article class="post-item">
                        <header>
                            <h4 class="hat">Linguistica, humor</h4>
                            <h2 class="post-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
                        </header>
                        <p class="post-abstract"><a href="#">Neste artigo, propomos contribuir para os estudos do humor conversacional em
                        encontros informais, numa perspectiva interacional. Mostramos a co-construção do humor,
                        entre amigos, com base no enquadre da brincadeira (Bateson, 1972)</a></p>
                        <p class="read-more"><a href="#">Leia mais &hellip;</a></p>
                    </article>
                </div>
                <div class="six columns omega">
                     <article class="post-item">
                        <header>
                            <h4 class="hat">Linguistica, humor</h4>
                            <h2 class="post-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
                        </header>
                        <p class="post-abstract"><a href="#">Neste artigo, propomos contribuir para os estudos do humor conversacional em
                        encontros informais, numa perspectiva interacional. Mostramos a co-construção do humor,
                        entre amigos, com base no enquadre da brincadeira (Bateson, 1972)</a></p>
                        <p class="read-more"><a href="#">Leia mais &hellip;</a></p>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>

<section class="publications">
    <header>
        <h3 class="title">Publicações</h3>
    </header>
    <div class="container">
        <div class="row">
            <div class="eight columns alpha">
                 <article class="publication-item">
                    <header>
                        <h4 class="hat">Revista Caleidoscópio, Ed. 1 Vol. 13, Dezembro de 2013</h4>
                        <h2 class="publication-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
                    </header>
                    <p class="read-more"><a href="#">Ler este artigo &rarr;</a></p>
                </article>
            </div>
            <div class="eight columns omega">
                 <article class="publication-item">
                    <header>
                        <h4 class="hat">Revista Caleidoscópio, Ed. 1 Vol. 13, Dezembro de 2013</h4>
                        <h2 class="publication-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
                    </header>
                    <p class="read-more"><a href="#">Ler este artigo &rarr;</a></p>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
