{% extends "base.html" %}

{% block content %}
<article class="post-item">
    <header>
        <h4 class="hat">Linguistica, humor</h4>
        <h2 class="post-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
    </header>
    <p class="post-abstract"><a href="#">Neste artigo, propomos contribuir para os estudos do humor conversacional em
    encontros informais, numa perspectiva interacional. Mostramos a co-construção do humor,
    entre amigos, com base no enquadre da brincadeira (Bateson, 1972)</a></p>
    <p class="read-more"><a href="#">Leia mais &hellip;</a></p>
</article>
<div class="six columns alpha">
    <article class="post-item">
        <header>
            <h4 class="hat">Linguistica, humor</h4>
            <h2 class="post-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
        </header>
        <p class="post-abstract"><a href="#">Neste artigo, propomos contribuir para os estudos do humor conversacional em
        encontros informais, numa perspectiva interacional. Mostramos a co-construção do humor,
        entre amigos, com base no enquadre da brincadeira (Bateson, 1972)</a></p>
        <p class="read-more"><a href="#">Leia mais &hellip;</a></p>
    </article>
</div>
<div class="six columns omega">
     <article class="post-item">
        <header>
            <h4 class="hat">Linguistica, humor</h4>
            <h2 class="post-title"><a href="#">A co-construção do humor conversacional para encobrir diferentes objetivos</a></h2>
        </header>
        <p class="post-abstract"><a href="#">Neste artigo, propomos contribuir para os estudos do humor conversacional em
        encontros informais, numa perspectiva interacional. Mostramos a co-construção do humor,
        entre amigos, com base no enquadre da brincadeira (Bateson, 1972)</a></p>
        <p class="read-more"><a href="#">Leia mais &hellip;</a></p>
    </article>
</div>
{% endblock content %}
