<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>LeticiaStallone.com</title>
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/leticia.css">
</head>
<body>
    <div class="container">
        <section class="masthead sixteen columns">
            <header class="eight columns alpha">
                <h1 class="title">Letícia Stallone <small>linguista</small></h1>
            </header>
            <div class="eight columns omega">
                <nav class="main-menu clearfix">
                    <a href="#">home</a>
                    <a href="#">publicações</a>
                    <a href="#">blog</a>
                    <a href="#">links</a>
                    <a href="#">contato</a>
                </nav>
            </div>
        </section>

        <div class="main-content sixteen columns">
            <div class="row">
                <aside class="six columns alpha aside-about">
                    <figure>
                        <img src="https://si0.twimg.com/profile_images/1096147769/me_bigger.jpg">
                    </figure>
                    <p>Skeleton has a familiar, lightweight 960 grid as its base, but elegantly scales down to downsized browser windows, tablets, mobile phones (in landscape and portrait). Go ahead, resize this page!</p>
                </aside>
                <section class="ten columns omega">eight</section>
            </div>
        </div>
    </div>
</body>
</html>
