{% extends "base.html" %}

{% block title %}{{ post.title }} - {% endblock title %}
{% block meta_descripton %}{{ post.abstract|striptags }}{% endblock meta_descripton %}

{% block content %}
<article class="post-page">
    <div class="meta">{% if post.tags.all|length > 0 %}{{ post.tags.all|join:", " }} &bullet; {% endif %}{{ post.pub_date|date:'F \d\e Y' }}</div>
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="abstract">
        {{ post.abstract|safe }}
    </div>
    <div class="body">
        {{ post.body|safe }}
    </div>
</article>
{% endblock content %}
